annotated-doc
annotated-types

anyio>=3.7,<4.0
click>=8.0,<8.2

fastapi==0.109.2
starlette==0.40.0

filelock
fsspec
greenlet
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
iniconfig
Jinja2
joblib
markdown-it-py
MarkupSafe
mdurl
mpmath
narwhals
networkx
numpy
packaging
playwright
pluggy
pydantic
pydantic_core
pyee
Pygments
pytest
PyYAML
regex
rich
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
sympy
threadpoolctl
tokenizers
tqdm
transformers
typer
typing-inspection
typing_extensions
uvicorn>=0.20,<0.30
